POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

KAKAO_REST_API_KEY=
NAVER_SEARCH_CLIENT_ID=
NAVER_SEARCH_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4-nano
